*~
*.cmo
*.cmi
*.cmx
*.npk
*.o
doc/*
bin
*.a
*.cma
*.cmxa
*.depend
src/c2newspeak.depend
src/c2newspeak/lexer.ml
src/c2newspeak/parser.ml
src/c2newspeak/parser.mli
src/c2newspeak/parser.output
src/c2newspeak/pp_lexer.ml
src/c2newspeak/pp_parser.ml
src/c2newspeak/pp_parser.mli
src/c2newspeak/pp_parser.output
generated
*.no